h1{
    font-size: 50px;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  }

  .buttons{
    display: flex;
  justify-content: center;
  align-items: center;
  }